.container {
    width: 50%;
    margin-top: 15%;
    border: 1px solid rgb(212, 210, 210);
    padding: 20px;
}

#btn-submit {
    width: 30%;
    margin: auto;
    
}

.container-fluid {
    margin-bottom: 20px;
   color: black;
  border-bottom: 1px solid rgb(212, 210, 210); 
  /* opacity: 75%; */
  padding: 10px;
}

#btn-login, #btn-register {
    color: black;
    text-align: center;
    font-size: larger;
}

.form-register {
    padding: 10px;
}

.form-email, .form-password {
    margin-bottom: 10px;
}